.caja{
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    
}


.caja1{
    border: 5px dotted black;
    background-color: beige;
    text-align: center;
}
.caja2{
    background-color: yellow;
    border-radius: 20px;
    border-left: 40px solid black;
    text-align: left;
}
.caja3{
    background-color: lightpink;
    border: 17px solid deeppink;
    border-radius: 13px;
    border-style:outset;
    text-align: right;
}
.caja4{
    background-color: lightgreen ;
    border: 17px solid  darkgreen;
    border-radius: 50px;
    border-style:inset;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.caja5{
    border: 5px dotted yellow;
    border-radius: 300px;
    width: 175px;
    height:175px;
    background-color: bisque;
    font-size: 50px;
    text-align: center;
}
.caja6{
    background-color: lightblue;
    border: 17px solid darkblue;
    border-radius: 5px;
    border-style:outset;
    text-align: center;
}
.caja7{
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-bottom: 20px solid  red;
    border-top:solid  red;
    background-image: linear-gradient( orangered, orange, yellow);
}
.caja8{
    border-top: 20px yellow ;
    border-left:20px blue ;
    border-right: 20px lightseagreen;
    border-bottom: 20px red;
    border-style: outset;
    text-align: left;
}
.caja9{
   border: 20px double purple;
   border-radius: 40px;
    text-align: center;
}
/* Triángulo equilátero hacia arriba */
.caja10{
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid red;
}

.caja11{
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 100px solid blue;
}

.caja12{
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 100px solid green;
}

.caja13{
    width: 120px;
    height: 120px;
    background-color: green;
    border-radius: 50%;
}

.caja14{
    width: 60px;
    height: 120px;
    background-color: green;
    border-radius: 0 60px 60px 0;
}

.caja15{
    width: 120px;
    height: 60px;
    background-color: green;
    border-radius: 0 0 60px 60px;
}


    

